@charset "utf-8";

body {
  min-width: 320px;
  max-width: 720px;
  font-size: 10px;
  background-color: var(--primary-color);
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: var(--black-color);
  margin: 0 auto;
}

.container{
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
  padding: var(--gap-10);
}

/* Screen Header */
.screen-header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-10) 0;
  background-color: var(--primary-color);
}

.screen-header__title {
  font-size: var(--font-size-xlarge);
  font-weight: 600;
}

.screen-header__icon {
  margin-left: var(--gap-10);
}

.screen-header__icon img {
  width: 20px;
}

/* Navigation */
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: var(--secondary-color);
}

.nav__button {
  position: relative;
}


/* Screen Main */
.sub-title {
  padding: var(--gap-10) 0;
  padding-bottom: 0;
}
.user-my-item {
  border-bottom: 1px solid var(--secondary-color);
}
.user-my-item, .user-friend-item {
  width: 100%;
  padding: var(--gap-10) 0;
  justify-content: space-between;
}

.user-my-item:hover, .user-friend-item:hover {
  background-color: var(--secondary-color);
}

.user-my-item, .user-friend-item,
.user-my__column:first-child,
.user-friend__column:first-child {
  display: flex;
}

.user-my__photo, .user-friend__photo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: var(--gap-10);
}
.user-friend__photo {
  width: 36px;
  height: 36px;
  border-radius: 15px;
}

.user-my__text, .user-friend__text {
  font-size: 1.5em;
}

.user-friend__text {
  padding-bottom: 0;
}